.Home {
    min-height: 90%;
}
.container{
    display: flex;
    padding-left: 7%;
}
.fixed{
    padding-top: 10%;
}
.flex-item{
    flex-grow: 1;
    padding-top: 6%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 55vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}